
{{define "portindexpage"}}
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <head>
       <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
       <script>
          //htmx.logAll();
       </script>

       <style>
         body {
           font-family: "Helvetica Neue";
           color: #747474;
         }
      </style>
    </head>

    {{template "portindexbody" .}}

</html>
{{end}}

{{define "portindexbody"}}
    <body id="bodyelement" hx-get="indexbody" hx-trigger="every 60s" hx-swap="outerHTML">

              <form oninput="oput.value=ccslider.value">
                <div style="display: flex;">
                  <output for="ccslider" name="oput" style="width: 4em;padding-right: 1em;text-align: right;">50</output>
                  <div style="flex-grow: 1;">
                    <input type="range" id="ccslider" name="ccvalue" hx-swap="none" hx-trigger="input" 
                           hx-post="/port/{{.}}/midicc/0/7" value="50" min="0" 
                           max="127" step="1" />
                  </div>
                </div>
              </form>
        

    </body>

{{end}}

