
{{define "fluidsynth"}}
  <div>
      <h4>Fluidsynth  {{.Host}} {{.Port}}</h4>

      <form oninput="oput.value=settingslider.value">
        <div style="display: flex;">
           <output for="settingslider" name="oput" style="width: 4em;padding-right: 1em;text-align: right;">1.5</output>
           <div style="flex-grow: 1;">
              <input type="range" id="settingslider" name="settingvalue"
                     value="1.5" min="0" max="5" step="0.1"
                     hx-post="/fluidsynth/{{.Host}}/{{.Port}}/setting/foosing" hx-swap="none" hx-trigger="input"  
              />
           </div>
        </div>
      </form>

      {{template "fluidsynthchannel" (index .Channels "0")}}
      {{template "fluidsynthchannel" (index .Channels "1")}}
      {{template "fluidsynthchannel" (index .Channels "2")}}
      {{template "fluidsynthchannel" (index .Channels "3")}}
      {{template "fluidsynthchannel" (index .Channels "4")}}
      {{template "fluidsynthchannel" (index .Channels "5")}}
      {{template "fluidsynthchannel" (index .Channels "6")}}
      {{template "fluidchannel" (fluidchannel .Host .Port "7")}}

  </div>
{{end}}

{{define "fluidsynthchannel"}}
  <div>
      <output>Channel {{.Channel}}</output>

      <select name="font" style="font-size: 0.8em;accent-color: green;" hx-post="/fluidsynth/{{.Host}}/{{.Port}}/selectfont/{{.Channel}}" hx-target="closest div" hx-swap="outerHTML">
        {{$font:=.Sfont}}
        {{range (fonts .Host .Port)}}
          <option value="{{.Font}}" {{if eq .Font $font}}selected {{end}}>{{.Filename}}</option>
        {{end}}
     </select>

      <select name="bankpreset"  style="font-size: 1em;accent-color: green;" hx-post="/fluidsynth/{{.Host}}/{{.Port}}/setbankpreset/{{.Channel}}" hx-target="closest div" hx-swap="outerHTML">
        {{$bankpreset:=printf "%03s-%03s" .Bank .Preset}}
        {{range (index (fonts .Host .Port) .Sfont).Instruments}}
          {{$bp:=printf "%s-%s" .Bank .Preset}}
          <option value="{{$bp}}" {{if eq $bp $bankpreset}}selected {{end}}>{{.Name}}</option>
        {{end}}
      </select>

      <form oninput="oput.value=volumeslider.value">
        <div style="display: flex;">
           <output for="volumeslider" name="oput" style="width: 7em;padding-right: 1em;text-align: right;">{{.Volume}}</output>
           <div style="flex-grow: 1;">
              <input type="range" id="volumeslider" name="volume" style="width: 50%;accent-color: green;"
                     value="{{.Volume}}" min="0" max="127" step="1"
                     hx-post="/fluidsynth/{{.Host}}/{{.Port}}/setvolume/{{.Channel}}" hx-swap="none" hx-trigger="input"  
              />
           </div>
        </div>
      </form>
  </div>
{{end}}


{{define "fluidchannel"}}
  <div>
      <output>Channel {{.channel}}</output>

      <select name="font" style="font-size: 0.8em;accent-color: green;" hx-post="/fluidsynth/{{.host}}/{{.port}}/selectfont/{{.channel}}" hx-target="closest div" hx-swap="outerHTML">
        {{$font:=.font}}
        {{range (fonts .host .port)}}
          <option value="{{.Font}}" {{if eq .Font $font}}selected {{end}}>{{.Filename}}</option>
        {{end}}
     </select>

      <select name="bankpreset"  style="font-size: 1em;accent-color: green;" hx-post="/fluidsynth/{{.host}}/{{.port}}/setbankpreset/{{.channel}}" hx-target="closest div" hx-swap="outerHTML">
        {{$bankpreset:=printf "%03s-%03s" .bank .preset}}
        {{range (index (fonts .host .port) .font).Instruments}}
          {{$bp:=printf "%s-%s" .Bank .Preset}}
          <option value="{{$bp}}" {{if eq $bp $bankpreset}}selected {{end}}>{{.Name}}</option>
        {{end}}
      </select>

      <form oninput="oput.value=volumeslider.value">
        <div style="display: flex;">
           <output for="volumeslider" name="oput" style="width: 7em;padding-right: 1em;text-align: right;">{{.volume}}</output>
           <div style="flex-grow: 1;">
              <input type="range" id="volumeslider" name="volume" style="width: 50%;accent-color: green;"
                     value="{{.volume}}" min="0" max="127" step="1"
                     hx-post="/fluidsynth/{{.host}}/{{.port}}/setvolume/{{.channel}}" hx-swap="none" hx-trigger="input"  
              />
           </div>
        </div>
      </form>
  </div>
{{end}}

{{define "fluidsynthpatch"}}
  <div>
      <select name="bank" hx-post="/fluidsynth/{{.}}/selectbank/0" hx-target="closest div" hx-swap="outerHTML">
        {{$bank:="(bank .)"}}
        {{range "banks ."}}
          <option value="{{.}}" {{if eq . $bank}}selected {{end}}>{{.}}</option>
        {{end}}
      </select>
      <select name="program" hx-post="/fluidsynth/{{.}}/selectprogram/0" hx-target="closest div" hx-swap="outerHTML">
        {{$program:="(program .)"}}
        {{range "programs ."}}
          <option value="{{.Program}}" {{if eq .Program $program}}selected{{end}} >{{.Name}}</option>
        {{end}}
      </select>
  </div>
{{end}}
