
{{define "fluidsynth"}}
  <div style="accent-color: green">
      <h4>Fluidsynth</h4>

      <h5>Reverb</h5>

      {{template "fluidsettingslider" (map "text" "Active" "init" "0" "min" "0" "max" "1" "step" "1" "setting" "synth.reverb.active")}}

      {{template "fluidsettingslider" (map "text" "Damp" "init" "0.29" "min" "0" "max" "1" "step" "0.01" "setting" "synth.reverb.damp")}}

      {{template "fluidsettingslider" (map "text" "Level" "init" "0.62" "min" "0" "max" "1" "step" "0.01" "setting" "synth.reverb.level")}}

      {{template "fluidsettingslider" (map "text" "Room size" "init" "0.71" "min" "0" "max" "1" "step" "0.01" "setting" "synth.reverb.room-size")}}

      {{template "fluidsettingslider" (map "text" "Width" "init" "75" "min" "0" "max" "100" "step" "1" "setting" "synth.reverb.width")}}
      <h5>Chorus</h5>

      {{template "fluidsettingslider" (map "text" "Active" "init" "0" "min" "0" "max" "1" "step" "1" "setting" "synth.chorus.active")}}

      {{template "fluidsettingslider" (map "text" "Depth" "init" "3" "min" "0" "max" "256" "step" "1" "setting" "synth.chorus.depth")}}

      {{template "fluidsettingslider" (map "text" "Level" "init" "4.8" "min" "0" "max" "10" "step" "0.1" "setting" "synth.chorus.level")}}

      {{template "fluidsettingslider" (map "text" "Voice count" "init" "2" "min" "0" "max" "99" "step" "1" "setting" "synth.chorus.nr")}}

      {{template "fluidsettingslider" (map "text" "Speed" "init" "1.3" "min" "0.1" "max" "5" "step" "0.05" "setting" "synth.chorus.speed")}}

      <h5>Channels</h5>
      {{template "fluidchannel" (map "fonts" . "channel" "0")}}
      {{template "fluidchannel" (map "fonts" . "channel" "1")}}
      {{template "fluidchannel" (map "fonts" . "channel" "2")}}
      {{template "fluidchannel" (map "fonts" . "channel" "3")}}

  </div>
{{end}}

{{define "fluidsettingslider"}}
      <form oninput="oput.value=settingslider.value">
        <div style="display: flex;">
	   <output style="width: 6em;text-align: left">{{.text}}</output>
           <output for="settingslider" name="oput" style="width: 4em;padding-right: 1em;text-align: right;">{{.init}}</output>
           <div style="flex-grow: 1;">
              <input type="range" id="settingslider" name="settingvalue" style="width: 50%"
                     value="{{.init}}" min="{{.min}}" max="{{.max}}" step="{{.step}}"
                     hx-post="/fluidsynth/setting/{{.setting}}" hx-swap="none" hx-trigger="input,load"  
              />
           </div>
        </div>
      </form>
{{end}}

{{define "fluidprogram"}}
      {{$font:=.font}}
      <form>
        <select name="font" style="font-size: 0.8em;accent-color: green;" 
                hx-post="/fluidsynth/selectfont/{{.channel}}" hx-target="closest form" hx-swap="outerHTML" hx-trigger="change,load" 
                hx-ext="event-header"
        >
          {{range .fonts}}
            <option value="{{.Font}}" {{if eq .Font $font}}selected {{end}}>{{.Filename}}</option>
          {{end}}
        </select>

        <select  name="bankpreset"  style="font-size: 1em;accent-color: green;" 
                 hx-post="/fluidsynth/setbankpreset/{{.channel}}" hx-swap="none"
        >
          {{range (index .fonts $font).Instruments}}
            {{$bp:=printf "%s-%s" .Bank .Preset}}
            <option value="{{$bp}}" >{{.Name}}</option>
          {{end}}
        </select>
      </form>

{{end}}

{{define "fluidchannel"}}
  <div>
      <output>Channel {{.channel}}</output>

      {{template "fluidprogram" (map "channel" .channel "font" "1" "fonts" .fonts)}}

      <form oninput="oput.value=volumeslider.value">
        <div style="display: flex;">
	   <output style="width: 6em;text-align: left">Volume</output>
           <output for="volumeslider" name="oput" style="width: 7em;padding-right: 1em;text-align: right;">100</output>
           <div style="flex-grow: 1;">
              <input type="range" id="volumeslider" name="ccvalue" style="width: 50%;accent-color: green;"
                     value="100" min="0" max="127" step="1"
                     hx-post="/fluidsynth/midicc/{{.channel}}/7" hx-swap="none" hx-trigger="input,load"  
              />
           </div>
        </div>
      </form>
      <form oninput="oput.value=reverbslider.value">
        <div style="display: flex;">
	   <output style="width: 6em;text-align: left">Reverb send</output>
           <output for="reverbslider" name="oput" style="width: 7em;padding-right: 1em;text-align: right;">100</output>
           <div style="flex-grow: 1;">
              <input type="range" id="reverbslider" name="ccvalue" style="width: 50%;accent-color: green;"
                     value="100" min="0" max="127" step="1"
                     hx-post="/fluidsynth/midicc/{{.channel}}/91" hx-swap="none" hx-trigger="input,load"  
              />
           </div>
        </div>
      </form>
      <form oninput="oput.value=chorusslider.value">
        <div style="display: flex;">
	   <output style="width: 6em;text-align: left">Chorus send</output>
           <output for="chorusslider" name="oput" style="width: 7em;padding-right: 1em;text-align: right;">50</output>
           <div style="flex-grow: 1;">
              <input type="range" id="chorusslider" name="ccvalue" style="width: 50%;accent-color: green;"
                     value="50" min="0" max="127" step="1"
                     hx-post="/fluidsynth/midicc/{{.channel}}/93" hx-swap="none" hx-trigger="input,load"  
              />
           </div>
        </div>
      </form>
  </div>
{{end}}

