
{{define "indexpage"}}
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <head>
       <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
       <script>
          //htmx.logAll();
         function bugworkaround(e) {
            let evtype = "unknown";
            if (e !== undefined) {
              evtype = event.type
            }
            return {evtype: evtype}
         }
       </script>

       <style>
         body {
           font-family: "Helvetica Neue";
           color: #747474;
         }
      </style>
    </head>

    {{template "indexbody" .}}

</html>
{{end}}

{{define "indexbody"}}
    <!--body id="bodyelement" hx-get="/indexbody" hx-trigger="every 60s" hx-swap="outerHTML"-->
    <body>
       {{template "fluidsynth" (fluidengine "fs" "9800")}}

    </body>

{{end}}

